<h1> Spin </h1>

<form action="/card" method="post">
  <input type="submit" value="Card template">
</form>

<form action="/field" method="post">
  <input type="submit" value="Field template">
</form>
